<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fleet/fragments/fragments :: head">
</head>
<link href="/css/font-awesome.min.css" rel="stylesheet"/>
<body>
<!-- container section start -->
<section id="container" class="">

    <header th:replace="fleet/fragments/fragments :: header"></header>

    <aside th:replace="fleet/fragments/fragments :: aside(control)"></aside>


    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-list-alt"></i> Components</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{'/fleet/' + ${fleetManager.id} + '/home'}">Home</a>
                        </li>
                        <li><i class="fa fa-desktop"></i>Control</li>
                    </ol>
                </div>
            </div>
            <div class="row">

                <!-- Pie -->
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading">
                            <h3>
                           Fleet pool <span class="badge" th:text="${activepool.total}"></span>
                            </h3>
                        </header>
                        <div class="panel-body text-center">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Mark</th>
                                    <th>Total</th>
                                    <th>%</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/audi_logo.png"/></td>
                                    <td id="audiActive" th:text="${activepool.totalAudi}"></td>
                                    <td th:text="${activepool.percentage.totalAudi}"></td>
                                </tr>
                                <tr>
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/skoda_logo.png"/></td>
                                    <td id="skodaActive" th:text="${activepool.totalSkoda}"></td>
                                    <td th:text="${activepool.percentage.totalSkoda}"></td>
                                </tr>
                                <tr>
                                    <!--    private int totalVolkswagen;private int totalSeat;-->
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/volkswagen_logo.png"/></td>
                                    <td id="volkswagenActive" th:text="${activepool.totalVolkswagen}"></td>
                                    <td th:text="${activepool.percentage.totalVolkswagen}"></td>
                                </tr>
                                <tr>
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/seat_logo.png"/></td>
                                    <td id="seatActive" th:text="${activepool.totalSeat}"></td>
                                    <td th:text="${activepool.percentage.totalSeat}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <canvas id="pieActive" height="300" width="400"></canvas>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading">
                            <h3>
                                Orders <span class="badge" th:text="${orders.total}"></span>
                            </h3>
                        </header>
                        <div class="panel-body text-center">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Mark</th>
                                    <th>Total</th>
                                    <th>%</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/audi_logo.png"/></td>
                                    <td id="audiOrders" th:text="${orders.totalAudi}"></td>
                                    <td th:text="${orders.percentage.totalAudi}"></td>
                                </tr>
                                <tr>
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/skoda_logo.png"/></td>
                                    <td id="skodaOrders" th:text="${orders.totalSkoda}"></td>
                                    <td th:text="${orders.percentage.totalSkoda}"></td>
                                </tr>
                                <tr>
                                    <!--    private int totalVolkswagen;private int totalSeat;-->
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/volkswagen_logo.png"/></td>
                                    <td id="volkswagenOrders" th:text="${orders.totalVolkswagen}"></td>
                                    <td th:text="${orders.percentage.totalVolkswagen}"></td>
                                </tr>
                                <tr>
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/seat_logo.png"/></td>
                                    <td id="seatOrders" th:text="${orders.totalSeat}"></td>
                                    <td th:text="${orders.percentage.totalSeat}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <canvas id="pieOrders" height="300" width="400"></canvas>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading">
                            <h3>
                                Freepool <span class="badge" th:text="${freepool.total}"></span>
                            </h3>
                        </header>
                        <div class="panel-body text-center">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Mark</th>
                                    <th>Total</th>
                                    <th>%</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/audi_logo.png"/></td>
                                    <td id="audiFree" th:text="${freepool.totalAudi}"></td>
                                    <td th:text="${freepool.percentage.totalAudi}"></td>
                                </tr>
                                <tr>
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/skoda_logo.png"/></td>
                                    <td id="skodaFree" th:text="${freepool.totalSkoda}"></td>
                                    <td th:text="${freepool.percentage.totalSkoda}"></td>
                                </tr>
                                <tr>
                                    <!--    private int totalVolkswagen;private int totalSeat;-->
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/volkswagen_logo.png"/></td>
                                    <td id="volkswagenFree" th:text="${freepool.totalVolkswagen}"></td>
                                    <td th:text="${freepool.percentage.totalVolkswagen}"></td>
                                </tr>
                                <tr>
                                    <!--style="width: 64px; height: 64px;"-->
                                    <td class="media" ><img class="media-object img-responsive" style="width: 64px; height: 64px;" src="/img/seat_logo.png"/></td>
                                    <td id="seatFree" th:text="${freepool.totalSeat}"></td>
                                    <td th:text="${freepool.percentage.totalSeat}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <canvas id="pieFree" height="300" width="400"></canvas>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
</section>
<!-- container section start -->

<div th:replace="fleet/fragments/scripts :: script"></div>
<script src="/js/pieChart.js"></script>

<script>

</script>

</body>
</html>
