<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fleet/fragments/fragments :: head">
</head>
<link href="/css/font-awesome.min.css" rel="stylesheet"/>
<body>
<!-- container section start -->
<section id="container" class="">

    <header th:replace="fleet/fragments/fragments :: header"></header>

    <aside th:replace="fleet/fragments/fragments :: aside(control)"></aside>


    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="page-header"><i class="fa fa-list-alt"></i> Orderdetails</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{'/fleet/home'}">Home</a>
                        </li>
                        <li><i class="fa fa-desktop"></i><a th:href="@{'/fleet/ordercontrol'}">Orders</a>
                        </li>
                        <li><i class="fa fa-list-alt"></i>Order details</li>
                    </ol>
                </div>
            </div>
            <!--details overview start-->
            <section class="panel">
                <div class="bio-graph-heading">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 follow-info"><img class="my-car-picture"
                                                                        th:src="@{'/image/' + ${model.carModelId}}"/>
                        </div>
                        <div class="col-lg-6 col-sm-6 follow-info">
                            <p>Order code</p>
                            <p>Order date</p>
                            <p>Order status</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel-body bio-graph-info col-lg-12">
                        <h1>Car Details</h1>

                        <div class="row">
                            <div class="col-lg-6">

                                <span>Mark :</span>

                                <div class="well">
                                    <p>
                                        <img class="img-responsive" style="width: 64px; height: 50px;"
                                             th:src="@{'/img/'+ ${model.mark}+ '_logo.png'}"/>
                                    </p>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <span>Model :</span>

                                <div class="well"><p th:text="${model.model}"></p></div>
                            </div>
                            <div class="col-lg-6">
                                <span>Type :</span>

                                <div class="well"><p th:text="${model.modelType}"></p></div>

                            </div>
                            <div class="col-lg-6">
                                <span>Km :</span>

                                <div class="well"><p th:text="${model.km}"> km</p>

                                </div>

                            </div>
                            <div class="col-lg-6">
                                <span>Color :</span>

                                <div class="well"><p th:text="${model.color}"></p></div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-body bio-graph-info col-lg-6" th:if="${active}">
                        <h1>Employee Details</h1>

                        <div class="row">
                            <div class="col-lg-6">
                                <span>Last name :</span>

                                <div class="well"><p th:text="${model.ownerDetails.LastName}"></p></div>

                            </div>
                            <div class="col-lg-6">
                                <span>Model :</span>

                                <div class="well"><p th:text="${model.ownerDetails.firstName}"></p></div>

                            </div>
                            <div class="col-lg-6">
                                <span>Business :</span>

                                <div class="well"><p th:text="${model.ownerDetails.business}"></p></div>

                            </div>
                            <div class="col-lg-6">
                                <span>E-mail :</span>

                                <div class="well"><p th:text="${model.ownerDetails.email}"></p></div>

                            </div>
                            <div class="col-lg-6">
                                <span>Category :</span>

                                <div class="well"><p th:text="${model.ownerDetails.klasse}"></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
</body>
</html>