<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fleet/fragments/fragments :: head">
</head>
<link href="/css/font-awesome.min.css" rel="stylesheet"/>
<body>
<!-- container section start -->
<section id="container" class="">

    <header th:replace="fleet/fragments/fragments :: header"></header>

    <aside th:replace="fleet/fragments/fragments :: aside(control)"></aside>


    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="page-header"><i class="fa fa-list-alt"></i> Orderdetails</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a th:href="@{'/fleet/home'}">Home</a>
                        </li>
                        <li><i class="fa fa-desktop"></i><a th:href="@{'/fleet/ordercontrol'}">Orders</a>
                        </li>
                        <li><i class="fa fa-list-alt"></i>Order details</li>
                    </ol>
                </div>
            </div>
            <!--details overview start-->
            <section class="panel">
                <div class="bio-graph-heading">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 follow-info" th:if="${carOrderDetails != null}" ><img
                                class="my-car-picture"
                                th:src="@{'/image/model/' + ${carOrderDetails.modelId}}"/>
                        </div>
                        <div class="col-lg-4 col-sm-4 follow-info">
                            <p th:text="${orderDetails.orderCode}"></p>

                            <p th:text="${orderDetails.orderDate}"></p>

                            <p th:text="${orderDetails.orderStatus}"></p>
                        </div>
                        <div class="col-lg-4 col-sm-4 follow-info">
                                <img alt=""
                                     th:src="@{'/image/profile/' + ${ownerDetails.id}}" class="img-responsive my-car-picture"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel-body bio-graph-info col-lg-12" th:if="${carOrderDetails != null}">
                        <h1>Car Details</h1>

                        <div class="row">
                            <div class="col-lg-6">

                                <span>Mark :</span>

                                <div class="well">
                                    <p>
                                        <img class="img-responsive" style="width: 64px; height: 50px;"
                                             th:src="@{'/img/'+ ${carOrderDetails.mark}+ '_logo.png'}"/>
                                    </p>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <span>Model :</span>

                                <div class="well"><p th:text="${carOrderDetails.model}"></p></div>
                            </div>
                            <div class="col-lg-6">
                                <span>Color :</span>

                                <div class="well"><p th:text="${carOrderDetails.color}"></p></div>
                            </div>
                            <div class="col-lg-6" th:if="${orderDetails.orderStatus == 'CAR_CHOSEN'}">
                                <a class="btn btn-success btn-lg" th:href="@{'/fleet/orders/' + ${orderDetails.orderId} +'/approve'}"><i class="fa fa-thumbs-up"></i> Approve</a>
                                <a class="btn btn-danger btn-lg" th:href="@{'/fleet/orders/' + ${orderDetails.orderId} +'/disapprove'}"><i class="fa fa-thumbs-down"></i> Disapprove</a>
                            </div>
                            <div class="col-lg-6" th:if="${orderDetails.orderStatus == 'DENIED'}">
                                <a class="btn btn-success btn-lg" th:href="@{'/fleet/createOrder/' +${ownerDetails.id}}"><i class="fa fa-plus"></i>Create new order</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body bio-graph-info col-lg-12">
                        <h1>Employee Details</h1>

                        <div class="row">
                            <div class="col-lg-6">
                                <span>Last name :</span>

                                <div class="well"><p th:text="${ownerDetails.LastName}"></p></div>

                            </div>
                            <div class="col-lg-6">
                                <span>Model :</span>

                                <div class="well"><p th:text="${ownerDetails.firstName}"></p></div>

                            </div>
                            <div class="col-lg-6">
                                <span>Business :</span>

                                <div class="well"><p th:text="${ownerDetails.business}"></p></div>

                            </div>
                            <div class="col-lg-6">
                                <span>E-mail :</span>

                                <div class="well"><p th:text="${ownerDetails.email}"></p></div>

                            </div>
                            <div class="col-lg-6">
                                <span>Category :</span>

                                <div class="well"><p th:text="${ownerDetails.klasse}"></p></div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
</body>
</html>