<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="New Order"/>
    <meta name="author" content="Stijn"/>
    <link rel="shortcut icon" href="/img/favicon.png"/>

    <title>Order</title>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet"/>
    <!--external static.css-->
    <!-- font icon -->
    <link href="/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.static.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="static.js/html5shiv.static.js"></script>
    <script src="static.js/respond.min.static.js"></script>
    <script src="static.js/lte-ie7.static.js"></script>
    <![endif]-->
</head>

<body>
<!-- container section start -->
<section id="container" class="">
    <!--header start-->
    <header th:replace="employee/index :: header">
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside th:replace="employee/index :: sidebar">
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header"><i class="fa fa-user-md"></i>New Car Order</h3>

                </div>
            </div>
            <div th:replace="employee/index :: profilewidget">
            </div>
            <!-- page start-->
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">

                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="recent-activity" class="tab-pane active">
                                    <section class="panel">
                                        <div class="panel-body bio-graph-info">
                                            <div class="row" style="border-bottom: 1px solid #263a4f; color: #263a4f; text-align: center; margin-bottom: 20px;">
                                                <h1>Submit your order code</h1>
                                            </div>
                                            <div class="row">
                                                <form th:action="@{'/employee/order'}" method="post">
                                                    <div class="row">
                                                        <div class="form-group" style="margin-left: 30vw">
                                                            <div class="col-lg-6">
                                                                <input type="text" name="order-code" class="form-control" style="width:25vw;"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="single-confirm-button">
                                                            <input type="submit" name="submit" class="btn btn-primary" style="width:25vw;" value="Start Order"/>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </section>

                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>

<div th:replace="employee/index :: scripts"></div>
</body>
</html>